@mixin logoImg{
    width: 4%;
    margin: 2% ;
    padding: 1%;
}

@mixin btn{
    background-color: transparent;
    padding: 1%;
    color: white;
    margin-bottom: 15px;
    &:hover{
        transform: translateY(2px);
        box-shadow: 0 -2px 8px 0 rgba(255, 255, 255, 1);
      }
}

@mixin forms{
    position: relative;
    bottom: 12px;
    margin-left: 1%;
    background-color: #212529;
}

@mixin footerbtn{
        background-color: transparent;
        color: white;
        margin-bottom: 15px;
        padding: 1%;
        opacity: 0.5;
        border: 1px solid white;
        width: 15%;
        &:hover{
            transform: translateY(2px);
            box-shadow: 0 -2px 8px 0 rgba(255, 255, 255, 1);
          }
}