@import "mixins/mixins";

@import "layouts/nav.scss";
@import "layouts/main.scss";
@import "layouts/article";
@import "layouts/footer";

@import "bootstrap/bootstrap.scss";

@import "layouts/body";


@media screen and (max-width: 991px) {
    nav .navbar-toggler {
        background-color: white;
    }
}


@media screen and (max-width: 768px) {
    main svg{
        display: none;
    }
    article .row .col-2:nth-child(even){
        display: none;
    }
    article .row .col-2:nth-child(odd){
        width: 33%;
    }
}

@media screen and (max-width: 540px) {
    article .row .col-2:nth-child(3){
        display: none;
    }
    article .row .col-2:nth-child(odd){
        width: 50%;
    }
    footer p, footer button{
        display: none;
    }
    footer svg{
        width: 40%;
    }
}