footer{
    margin: 5% 20% 3% 20%;
    p{
        opacity: 0.5;
    }
    svg{
        @include logoImg;
        margin-left: 0px;
        margin-right: 35px;
        padding: 0px;
    }
    .flex-fill{
        margin-right: 40px;
    }
    button{
        @include footerbtn;
    }
}

