nav .navbar-collapse ul li a{
    color: white;
}

nav button{
    @include btn;
    width: 10%;
}

nav svg{
    @include logoImg;
}
nav img{
    width: 120%;
    margin-right: 30px;
}

.dropdown-toggle{
    width: 70px;
    margin-right: 20px;
}
